<a href="https://colab.research.google.com/github/hafmous/HelloWorld/blob/master/list_tuples_sets_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![osu logo](https://github.com/chaitanya2334/jupyter-tutorial/blob/master/images/osu-32px-horiz.png?raw=1)


---


# Practice Material for Lists, Tuples, Sets, Dictionaries

<br/><br/>
This is a really practice material to help you learn how to use Lists, Tuples, Sets and Dictionaries in python.
        
> ### _Objective of this tutorial:_
> * _Practice manipulating Lists, Sets, Tuples and Dictionaries._

_Stuck at any point? Look up the following resource **[NEED FIXING Lists, Tuples, Sets, Dictionaries**]()._

# Lists

The most basic data structure in Python is the sequence. Each element of a sequence is assigned a number - its position or index. The first index is zero, the second index is one, and so forth.

The list is a most versatile datatype available in Python which can be written as a list of comma-separated values (items) between square brackets.

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]

## Problem 1 (easy): 

Given a list of elements below: `nums`, find the sum of all of its elements.

**Input:**

```
nums = [1, 19, 23, 41, 3, 8, 81, 27, 10, 743, 821, 3, 5]
```

**Expected Output:**

```
1785
```

**Solution:**

In [7]:
nums = [1, 19, 23, 41, 3, 8, 81, 27, 10, 743, 821, 3, 5]
def find_sum(nums):
  sum = 0
  for n in nums:
    # code here
    sum += n
  return sum

print(find_sum(nums))

1785



---

## Problem 2 (easy):

Find the smallest number in the list. 

**Input:**

```
nums = [42, 19, 23, 41, 3, 8, 81, 27, 2, 743, 821, 3, 5]
```

**Expected Outputs:**

```
2
```

**Solution:**

In [20]:
# set mimumum to very small negative number e.g., -1e-100
nums = [42, 19, 23, 41, 3, 8, 81, 27, 2, 743, 821, 3, 5]
def find_min(your_list):
  min = 100000
  for n in your_list:
    if n < min:
      min = n
  return min
print(find_min(nums))

-27



---

## Problem 3 (harder):

Given two lists, return a list of all elements that are common (without duplicates) between the two. 

**Input:**

```
a = [3, 5, 7, 10, 14, 18]
b = [6, 3, 10, 19, 7, 4, 3, 20, 3]
```

**Expected Output:**
```
[3, 7, 10]
```

**Solution:**

In [26]:
a = [3, 5, 7, 10, 14, 18]
b = [6, 3, 10, 19, 7, 4, 3, 20, 3]
# compare elements of one list against elements of other.
ab = []
for a_item in a:
  for b_item in b:
    if a_item == b_item:
      ab.append(a_item)
      break
print(ab)

[3, 7, 10]



---

## Problem 4 (harder):
For any given a list of characters, check if its a palindrome or not.

> Palindrome: A palindrome is a word, number, phrase, or other sequence of characters which reads the same backward as forward, such as _madam_, _racecar_.

**Input:**

```
s1 = ['c', 'a', 'a', 'c']
s2 = ['r', 'e', 'd', 'i', 'v', 'i', 'd', 'e', 'r']
s3 = ['p', 'a', 'l', 'i', 'n', 'd', 'r', 'o', 'm', 'e']
```

**Expected Output:**

```
list 1 is Palindrome
list 2 is Palindrome
list 3 is not Palindrome
```

**Solution:**

In [ ]:
# check both ends of list and compare
# then move to middle of list from both ends and compare elements
# either a while or for loop can work here



---

## Problem 5(hard):
Write a program that returns `True` if two lists were combined, they have elements that can form a consecutive sequence of integers.

A consecutive sequence is a sequence without any gaps. ie `1, 2, 3, 4, 5` is consecutive sequence. `1, 3, 4, 5` is not (because `2` is missing). 

> Additional Info:
> - The input list will always have unique values (no duplicates).
> - The input can be sorted or unsorted.

**Input 1:**

```
list1 = [1, 3, 5]
list2 = [2, 4]
```

**Expected Output:**
```
True
```

**Input 2:**

```
list1 = [5, 4, 10]
list2 = [2, 1]
```

**Expected Output:**

False, because  3, 6, 7, 8, 9 missing
```
False
```

**Input 3:**

```
list1 = [3, 7, 2, 4, 10]
list2 = [5, 6]
```

**Expected Output:**

False, because 8 and 9 are missing
```
False
```

In [ ]:
# combine both lists
# start with smallest number by searching for it or even sortin the list
# then look for all consecutive numbers
# if you reach end stop and return true
# otherwise return false
# while loop can work after combining both lists

---

# Sets

## Problem 1 (easy):
You are given two sets, _**A**_ and _**B**_. Write a program that finds out whether _**A**_ is a subset of _**B**_.

If _**A**_ is a subset, return `True`, else return `False`

**Input**

```
A = {4, 2, 1, 5, 7}
B = {3, 1, 5, 7, 4, 2, 10, 8}
```

**Expected Output**
```
True
```

**Solution:**

In [ ]:
# use methods of sets as discussed in slides and text.
# or use resources on sets as listed way above.

---
## Problem 2 (easy): 

Given a list, check if it has duplicates.

**Input:**

```
b = [6, 3, 10, 19, 7, 4, 3, 20, 3]
```

**Expected Output:**
```
True
```

**Solution:**

In [ ]:
# create a set of list b and check its length. 
# If the list originally had duplicates
# the set operation will remove them (reducing the list's own length).

---
## Problem 3 (harder):

You are given 2 lists of **_disjoint_** and **_closed_** intervals in sorted order.  Now some definitions:

1.   a **_closed_** interval `[a, b]` where `a <= b` denotes a set of integers `x` such that `a <= x <= b`.
2.   a **_disjointed_** means, within any given list, the intervals do not overlap. 

Please note that these intervals (or sets of integers) can overlap across the two given lists. 

Your objective is to find those overlaps. 

**Input:**
```
A = [[0,2], [5,10], [13, 23], [24,25]
B = [[1,5], [8,12], [15,24], [25,26]]
```

**Expected Output:**
```
[[1,2], [5,5], [8,10], [15,23], [24,24], [25,25]]
```

**Solution:**

In [ ]:
# for every list, recognize that there is another list. 
# convert each of the inside list to a set in each list
# find intersection between each pair across the two lists
# collect results in another list

---
## Problem 4 (harder):
The set `S` originally contained numbers from `1` to `n`, where `n` is the length of `nums`. But due to some data error, one number in the set got duplicated to another number in the set. This resulted in the repetition of one number and a loss of another number. Note that the size of the set (cardinality) remains the same.

Given the erroneous list, can you find the duplicated number and the number it ended up replacing?

**Input:**
```
s = {1, 2, 3, 4, 5}
nums = [1, 2, 3, 3, 4]
```
**Expected Output:**

```
3 5
```
**Explanation**: The first number that you return is the number that got duplicated. In this case it was `3`. Now there will be two '3's and hence displacing the last number in the set. The number that it replaced was `5`.

**Solution:**

In [ ]:
# convert list nums into a another set nums
# find disjoint or s-nums and return the element in s that is missing in nums
# to find the dupolicated number use a version of Problem 3 of Lists.

---
## Problem 5 (hard): 
(Extension of Problem 4)

Given a unordered list containing numbers repeating exactly _**K**_ times and one unique number, find that unique number.

For example: for K = 2, and for the given list below
```
list1 = [8, 3, 8, 4, 5, 5, 4]
```
`8`, `4`, and `5` repeat exactly `K = 2` times, but `3` is unique. So `3` is the answer.

**Input:**
```
K = 5
list1 = [1, 2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6, 2]
```

**Expected Output:**
```
8
```

> Hint: How can you leverage the fact that duplicate numbers always repeat exactly K times ?

**Solution:**

In [ ]:
# K * SUM(SET(LIST1)) - SUM(LIST1) = K-1*UNIQUE_NUMBER
# SO UNIQUE_NUMBER = (K * SUM(SET(LIST1)) - SUM(LIST1)) / K-1
# first find sum of elements in list1 (like problem 1) 
# then convert list1 to a set 
# use the inbuilt method for sequences(incl. sets) "sum" 
# compute the unique_number as listed above

# Tuples

## Problem 1 (harder):
Write a program to replace the last value of each tuple in the list of tuples.

**Input:**
```
 n = 5
 l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
 ```
**Expected Output:**
```
l = [(10, 20, 5), (40, 50, 5), (70, 80, 5)]
```

> Remember: Tuples are immutable. So how do you change the contents of a tuple ?

**Solution:**

In [ ]:
# get each tuple t from the larger list
# unpack using  a, b, c = t
# replace c with n (=5)
# now create a new list with the new tuples
# use a for loop

## Problem 2 (easy):

Write a program to find the tuple by searching for `n` in a given list.

**Input:**
```
n = 15.10
l = [('item1', 18.20), ('item2', 15.10), ('item3', 24.5)]
```

**Expected Output:**
```
('item2', 15.10)
```

**Solution:**

In [ ]:
# a simple for loop over the list `l` 
# check if the second element matches n
# if it matches return that tuple.

## Problem 3 (harder):
Write a program to reverse a tuple

**Input:**

```
tup = (3, 2, 1, 5, 10)
```

**Output:**
```
tup = (10, 5, 1, 2, 3)
```

**Solution:**

In [ ]:
# unpack into a list
# reversing elements of list using ""::-1" in the slides
# convert the list into a tuple again

## Problem 4 (harder):

Given a list of integers, and a number, find all good triplets.

A triplet `(l[i], l[j], l[k])` is **good** if the following conditions are true:

- `0 <= i < j < k <= len(l)`
- `|l[i] - l[j]| <= n`
- `|l[j] - l[k]| <= n`
- `|l[i] - l[k]| <= n` 

where `|x|` denotes the absolute value of `x`.

Return a tuple of all the **good** triples.

Input:

```
n = 2
l = [3, 0, 1, 1, 9, 7]
```

Expected Output:

```
[(3, 1, 1), (0, 1, 1)]
```

In [ ]:
# use 3 nested for loops with indices i, j, k
# access within each loop the elements of list list[i], list[j],list[k]
# using if-then-elseif-else statements check the triplet conditions
# indentify the good i,j,k combinations and form tuples
# add them to a list to return

## Problem 5 (harder):
Given a list `nums` of `n` integers, are there elements `a, b, c` in `nums` such that `a + b + c = 0`? Find all unique triplets in the list which gives the sum of zero.

Notice that the solution set must not contain duplicate triplets.

**Input:**
```
nums = [-1, 0, 1, 2, -1, -4]
```

**Expected Output:**
```
[(-1, 0, 1), (-1, -1, 2)]
```


**Solution:**

In [ ]:
# same as problem 4 and use i,j,k for loops
# check the condition list[i]+list[j]+list[k]=0 and retain them
# form tuples and add them to a list
# to check duplicates you will need to use sets

# Dictionaries

## Problem 1 (easy):

Convert the two lists into a dictionary.

**Input:**
```
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
```
**Expected Output:**

```
d = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
```

**Solution:**

In [ ]:
# you can use zip to create key-value tuple pairs
# create an empty dictionary
# use for loop to create a fill the dictionary with values

## Problem 2 (easy):

Merge the two python dictionaries into one


**Input:**
```
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
```

**Expected Output:**
```
d = {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
```

**Solution:**

In [ ]:
# use update as discussed in class and slides

## Problem 3 (harder):
Given two strings `s` and `t`, determine if they are ***isomorphic***.

Two strings are ***isomorphic*** if the characters in `s` can be replaced to get `t`, with no collision. A collision occurs when two elememts in `s`  map to an element in `t`.

Essentially, each character in `s` must have a valid mapping to characters in `t`.

### For example, 
- `egg -> add`; one has a mapping `e -> a`, and `g -> d`.

- Another example, `boys -> girl`; you has `b -> g`, `o -> i`, `y -> r`, `s -> l`.

- However, `ball -> cats` is NOT isomorphic. `l -> t` and `l -> s` is not allowed; the same character (`l`) cannot map to two different characters (`t` and `s`).

- `step -> book` is also NOT isomorphic; `t -> o`, `e -> o` is also not allowed; two different characters (`t` and `e`) cannot map to the same character (`o`).


> **Note:** All occurrences of a character must be replaced with another character while preserving the order of characters. No two characters may map to the same character but a character may map to itself.

> **Hint:** *We can do this by creating a dictionary of the mapping. `d[s[i]] = t[i]`. If you run into a collision (if the key already existed but the value are not the same) then report false.*

**Input 1:**

```
s = "egg"
t = "add"
```

**Expected Output:**
```
True
```
Explanation: `e->a, g->d`

**Input 2:**
```
s = "book"
t = "step"
```
**Expected Output:**
```
False
```
Explanation: `o -> t` and `o -> e` which is not allowed.

**Solution:**

In [ ]:
# for every character in both the string (starting from the first)
# add key-value pairs to a dictionary, as long as the following conditions are satisfied
# 1. the key doesnt already exist, 
# 2. if the key exists, then make sure the value matches.
# After the full dictionary is created, make sure that all the values are unique 
#(no duplicates). Essentially, check for collisons.

## Problem 4 (easy):

Write a function `histogram()` that takes a string and builds a frequency listing of the characters contained in it. Represent the frequency listing as a Python dictionary and print the in sorted order on 'key'.

Input:
```
s = "Yellowwooddoor"
```
Output:
```
{'o': 5, 'l': 2, 'w': 2, 'd': 2, 'Y': 1, 'e': 1, 'r': 1}
```

In [ ]:
# collect all characters from string
# count them
# create the dictionary
# enter the keys as letters and numbers as values. 
# you have a histogram or frequency table.

## Problem 5 (easy):
Given a List of words, return the words that can be typed using letters of alphabet on only one row's of American QWERTY keyboard like the image below.

![image](https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/KB_United_States.svg/400px-KB_United_States.svg.png)

**Input:**
```
["Hello", "Alaska", "Dad", "Peace"]
```
**Expected Output:**
```
["Alaska", "Dad"]
```

**Solution:**

In [ ]:
# hand craft the dict
# enter for each row the letter as key and row as value (1:0, Q:1,A:2, ...).
# for strings in input - extract characters and check presence in dict